@-webkit-keyframes blink{
	50% {opacity:1}
	100%{opacity:0}
}
@keyframes blink{
	50% {opacity:1}
	100%{opacity:0}
}
@-webkit-keyframes my {
	0% { color: #F8CD0A; } 
	50% { color: #fff;  } 
	100% { color: #F8CD0A;  } 
}
@-moz-keyframes my { 
	0% { color: #F8CD0A;  } 
	50% { color: #fff;  }
	100% { color: #F8CD0A;  } 
}
@-o-keyframes my { 
	0% { color: #F8CD0A; } 
	50% { color: #fff; } 
	100% { color: #F8CD0A;  } 
}
@keyframes my { 
	0% { color: #F8CD0A;  } 
	50% { color: #fff;  }
	100% { color: #F8CD0A;  } 
}
@-o-keyframes my { 
	0% { color: #F8CD0A; } 
	50% { color: #fff; } 
	100% { color: #F8CD0A;  } 
}
@keyframes my { 
	0% { color: #F8CD0A;  } 
	50% { color: #fff;  }
	100% { color: #F8CD0A;  } 
}
@-webkit-keyframes my {
	0% { color: #F8CD0A; } 
	50% { color: #fff;  } 
	100% { color: #F8CD0A;  } 
}
@-moz-keyframes my { 
	0% { color: #F8CD0A;  } 
	50% { color: #fff;  }
	100% { color: #F8CD0A;  } 
}

body{
	background-image: url(./182294.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color:#eee;
	font-family:ubuntu,sans-serif;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.hidden{
	display:none;
}
.c-pass{
	width: 100%;
	display: flex;
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	justify-content:space-around;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 30px 0 30px 0;
}
.password{
	font-size:40px;
	letter-spacing:5px;
	text-transform:uppercase;
}
.granted{
	position:absolute;
	bottom: 10%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	font-size:20px;
}
.start{
	position: absolute;
	background-color:#111;
	border:solid 1px #888;
	padding:8px 25px;
	font-size:30px;
	letter-spacing:2px;
	cursor:pointer;
}
.rerun{
	position:absolute;
	background-image: url(./240520816_244147367520691_272154386816249127_n.jpg);
	background-size: cover;
	bottom:25%;
	right:50%;
	transform: translateX(50%);
	width: 100px;
	height: 100px;
	cursor:pointer;
	border-radius: 50px;
}
.start{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%)
}
.blink{
	-webkit-animation:blink .7s steps(1,start) infinite alternate;
	animation:blink .8s steps(1,start) infinite alternate
}
